@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif !important;
}

.container {
  max-width: 100% !important;
  margin: 0 auto;
  padding: 0 2rem;
}

.slick-prev,
.slick-next {
  z-index: 5;
  /* top: -20px !important; */
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-color: #d1d1d1 !important;
  /* border: 1px solid #bbbbbb !important; */
}

.slick-prev {
  left: -10px !important;
  right: auto !important;
}

.slick-next {
  left: auto !important;
  right: -10px !important;
}

.slick-prev::before,
.slick-next::before {
  content: "" !important;
}

.slick-next svg,
.slick-prev svg {
  color: #818181;
  width: 16px;
  height: 16px;
}

.shopincon .quicklink {
  font-size: 20px;
  font-weight: 100;
  color: red;
  transition: all 0.5s;
  transform: translateY(50px);
  opacity: 0;
}

.productbox:hover .shopincon .quicklink {
  transform: translateY(0px);
  opacity: 1;
}

.productbox:hover .shopincon .quicklink:nth-child(1) {
  transition-delay: 0.5s;

}

.productbox:hover .quicklink:nth-child(2) {
  transition-delay: 0.4s;
}

.productbox:hover .quicklink:nth-child(3) {
  transition-delay: 0.3s;
}

.sectiontitle {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  margin-bottom: 0.7rem;
}

.sectiontitle::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 1px;
  border-top: 1px solid red;
}

.sectiontitle::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: red;
}

.footersection h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
  /* color: #ff6162; */
}

#shopbanner {
  background-image: url("../src/assets/pagebanner.webp");
  /* padding: 5rem 0; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-active .bannerdot {
  background-color: red;
}

.slider-nav .slick-list {
  height: 100% !important;
  /* Or any specific height you need */
}

.slider-for .slick-dots li {
  width: 50px;
  height: 50px;
}

.slider-for .slick-dots li.slick-active img {
  border: 3px solid red;
}

#banner .slick-dots {
  bottom: 25px !important;
  max-width: 100%;
  overflow-x: auto;
  text-wrap: nowrap;
}

div:where(.swal2-container) {
  z-index: 99999999 !important;
}

@media (max-width: 992px) {
  .sectiontitle {
    font-size: 16px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.3rem;
  }

  .sectiontitle::before {

    bottom: 0px;
    width: 100%;
    height: 1px;

  }

  .sectiontitle::after {


    bottom: -2px;

    width: 5px;
    height: 5px;

  }

  .slick-prev,
  .slick-next {
    z-index: 5;
    width: 30px !important;
    height: 30px !important;


  }

  .container {
    max-width: 100% !important;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .fixednavbar p span svg {

    height: 18px;
    width: 18px;
    color: #000;
  }

  .fixednavbar a p {
    font-size: 12px;
  }

  .fixednavbar a.active p span svg {
    color: red;
  }

  .fixednavbar {
    box-shadow: 0px -1px 7px 0px #e2e2e2;
  }

  #singleproduct .slick-dots {
    bottom: -58px;
    text-wrap: nowrap;
    overflow-y: auto;
  }
}